/* placeholder classes */
/* Wordpress Default Align */
/* Transitional placeholder class */
/* Box Shadows */
body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 1.5;
}

h1 {
  line-height: 1.125;
}

h2 {
  line-height: 1.125;
}

h3 {
  line-height: 1.125;
}

h4 {
  line-height: 1.125;
}

h5 {
  line-height: 1.125;
}

h6 {
  line-height: 1.125;
}

li {
  line-height: 1.5;
}

p {
  line-height: 1.5;
}

.navbar {
  position: fixed;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-top: 1px none #cccfcf;
  border-bottom: 1px none #cccfcf;
  background-color: rgba(7, 40, 65, 0.87);
}

@media (max-width: 991px) {
  .navbar {
    display: block;
  }
}

@media (max-width: 767px) {
  .navbar {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

.logo {
  width: 20%;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 20px;
}

@media (max-width: 991px) {
  .logo {
    width: 260px;
  }
}

@media (max-width: 767px) {
  .logo {
    width: 250px;
    margin-left: 10px;
    padding-left: 0px;
  }
}

@media (max-width: 479px) {
  .logo {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 75%;
    margin-top: 0px;
    margin-left: 5px;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.logo.bottom {
  position: static;
  display: block;
  margin-right: auto;
  margin-bottom: 15px;
  margin-left: auto;
  float: none;
}

@media (max-width: 991px) {
  .logo.bottom {
    width: 30%;
  }
}

@media (max-width: 479px) {
  .logo.bottom {
    width: 60%;
  }
}

.navlink {
  margin-right: 0px;
  margin-left: 0px;
  border-top: 1px none #00a5df;
  font-family: Oswald, sans-serif;
  color: #fff;
  font-size: 14px;
  line-height: 1.125;
  font-weight: 300;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

@media (max-width: 991px) {
  .navlink {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

@media (max-width: 767px) {
  .navlink {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.navlink.w--current {
  color: #fc766b;
}

.navlink:hover {
  background-color: transparent;
  color: #96d1fd;
}

.hero_section {
  height: 70%;
  background-image: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 0.59), rgba(255, 255, 255, 0) 79%), url("../images/hero-img-1920.jpg");
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.59), rgba(255, 255, 255, 0) 79%), url("../images/hero-img-1920.jpg");
  background-position: 0px 0px, 50% 30%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
}

@media (min-width: 1921px) {
  .hero_section {
    height: 70%;
    background-image: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 0.59), rgba(255, 255, 255, 0) 79%), url("../images/hero-img-2560.jpg");
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.59), rgba(255, 255, 255, 0) 79%), url("../images/hero-img-2560.jpg");
  }
}

@media (max-width: 991px) {
  .hero_section {
    height: 100vw;
    background-image: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 0.59), rgba(255, 255, 255, 0) 79%), url("../images/hero-img-991.jpg");
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.59), rgba(255, 255, 255, 0) 79%), url("../images/hero-img-991.jpg");
    background-position: 0px 0px, 50% 30%;
  }
}

@media (max-width: 767px) {
  .hero_section {
    background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, 0.29), rgba(0, 0, 0, 0.29)), url("../images/hero-img-767.jpg");
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.29), rgba(0, 0, 0, 0.29)), url("../images/hero-img-767.jpg");
    background-position: 0px 0px, 50% 0px;
    background-size: auto, cover;
    background-repeat: repeat, no-repeat;
  }
}

@media (max-width: 479px) {
  .hero_section {
    background-image: -webkit-linear-gradient(90deg, rgba(0, 0, 0, 0.89) 13%, rgba(255, 255, 255, 0) 85%), url("../images/hero-img-479.jpg");
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.89) 13%, rgba(255, 255, 255, 0) 85%), url("../images/hero-img-479.jpg");
    background-size: auto, cover;
    background-repeat: repeat, no-repeat;
    height: 105%;
  }
}

.main_tagline_div {
  position: absolute;
  left: 0px;
  top: 25%;
  z-index: 100;
  display: block;
  width: 45%;
  margin-bottom: 9px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 60px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

@media (max-width: 991px) {
  .main_tagline_div {
    bottom: 50px;
    width: 80%;
    padding-bottom: 0px;
    padding-left: 45px;
  }
}

@media (max-width: 767px) {
  .main_tagline_div {
    left: 0px;
    right: auto;
    bottom: 20px;
    padding-top: 0px;
    padding-left: 20px;
  }
}

@media (max-width: 479px) {
  .main_tagline_div {
    bottom: 15px;
    width: 100%;
    padding-left: 0px;
    top: 60%;
  }
}

.main_tagline {
  margin-top: 0px;
  margin-bottom: 10px;
  font-family: Oswald, sans-serif;
  color: #fff;
  font-size: 50px;
  line-height: 1.125;
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
}

@media (max-width: 991px) {
  .main_tagline {
    margin-bottom: 20px;
    font-size: 42px;
  }
}

@media (max-width: 767px) {
  .main_tagline {
    margin-bottom: 10px;
    font-size: 26px;
  }
}

@media (max-width: 479px) {
  .main_tagline {
    margin-bottom: 10px;
    font-size: 22px;
    text-align: center;
  }
}

.flex_wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

@media (max-width: 991px) {
  .flex_wrapper {
    padding-right: 0px;
    padding-left: 0px;
  }
}

@media (max-width: 479px) {
  .flex_wrapper {
    padding-right: 0px;
    padding-left: 0px;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

.tagline_buttons_div {
  width: 100%;
}

@media (max-width: 479px) {
  .tagline_buttons_div {
    width: 95%;
  }
}

.main_btn {
  display: inline-block;
  margin-top: 15px;
  margin-right: 4px;
  margin-left: 4px;
  padding: 20px;
  float: none;
  border: 1px none #fff;
  background-color: #fc766b;
  font-family: Oswald, sans-serif;
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  text-decoration: none;
}

@media (max-width: 991px) {
  .main_btn {
    margin-right: 0px;
    margin-bottom: 10px;
  }
}

@media (max-width: 767px) {
  .main_btn {
    margin-bottom: 5px;
    padding: 9px 15px;
    font-size: 14px;
    letter-spacing: 1px;
  }
}

@media (max-width: 479px) {
  .main_btn {
    width: 100%;
    margin-left: 0px;
    text-align: center;
  }
}

.main_btn:hover {
  background-color: #33658a;
}

.main_btn.offer {
  margin-bottom: 35px;
  border-style: solid;
  border-color: #fc766b;
}

.main_btn.offer:hover {
  border-style: solid;
  border-color: #fc766b;
  color: #fc766b;
}

.about_lasik_section {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #eef8ff;
}

@media (max-width: 767px) {
  .about_lasik_section {
    padding-top: 75px;
    padding-bottom: 75px;
  }
}

.container_div {
  display: block;
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  text-align: left;
}

@media (max-width: 991px) {
  .container_div {
    width: 90%;
  }
}

@media (max-width: 767px) {
  .container_div {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

.container_div.footer {
  display: block;
}

.container_div.lasik_form {
  width: 50%;
  text-align: center;
}

.container_div.center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.headline {
  display: inline-block;
  width: auto;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 40px;
  padding: 0px 50px 20px 0px;
  border-style: none none solid;
  border-width: 1px 5px 1px 1px;
  border-color: rgba(0, 165, 223, 0.53);
  font-family: Oswald, sans-serif;
  color: #06357a;
  font-size: 48px;
  line-height: 1.125;
  font-weight: 400;
}

@media (max-width: 991px) {
  .headline {
    width: auto;
  }
}

@media (max-width: 767px) {
  .headline {
    width: 100%;
    margin-right: 20px;
    border-right-style: none;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    font-size: 30px;
  }
}

@media (max-width: 479px) {
  .headline {
    margin-right: 0px;
    padding-right: 0px;
    padding-bottom: 15px;
  }
}

.headline.center {
  padding-right: 0px;
  text-align: center;
}

.text {
  width: auto;
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 1.5;
}

.text_div {
  width: auto;
  float: none;
  text-align: left;
}

@media (max-width: 767px) {
  .text_div {
    width: 100%;
  }
}

.text_div.right {
  float: right;
}

.text_div.callout {
  width: 75%;
}

.list {
  margin-bottom: 30px;
  padding-left: 20px;
}

.list_item {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 1.5;
}

.about_nielson {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #fff;
}

@media (max-width: 767px) {
  .about_nielson {
    padding-top: 75px;
    padding-bottom: 75px;
  }
}

.testimonials_section {
  padding-top: 100px;
  padding-bottom: 100px;
}

@media (max-width: 767px) {
  .testimonials_section {
    padding-top: 75px;
    padding-bottom: 75px;
  }
}

.lasik_self_test_section {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #eef8ff;
}

@media (max-width: 767px) {
  .lasik_self_test_section {
    padding-top: 75px;
    padding-bottom: 75px;
  }
}

.submit_btn {
  padding: 15px 24px;
  background-color: #fc766b;
  font-family: Oswald, sans-serif;
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.submit_btn:hover {
  background-color: #33658a;
  color: #fff;
}

.success_msg {
  padding-left: 0px;
  background-color: transparent;
  font-family: Oswald, sans-serif;
  color: #00a5df;
  font-size: 18px;
  text-align: left;
}

.error_msg {
  padding-left: 0px;
  background-color: transparent;
  font-family: Oswald, sans-serif;
  color: #e60f0f;
  font-size: 16px;
}

.footer_section {
  padding-top: 100px;
  padding-bottom: 150px;
  background-color: #33658a;
}

@media (max-width: 991px) {
  .footer_section {
    padding-top: 75px;
    padding-bottom: 100px;
  }
}

@media (max-width: 767px) {
  .footer_section {
    padding-top: 50px;
    padding-bottom: 75px;
  }
}

.footer_text {
  color: #b4cbdb;
  font-size: 12px;
  text-align: center;
}

.location_section {
  padding-top: 0px;
  padding-bottom: 0px;
  background-image: url("../images/contact-bg-img.jpg");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@media (max-width: 991px) {
  .location_section {
    background-image: url("../images/contact-bg-img-991.jpg");
  }
}

@media (max-width: 767px) {
  .location_section {
    background-image: url("../images/contact-bg-img-767.jpg");
  }
}

@media (max-width: 479px) {
  .location_section {
    background-image: url("../images/contact-bg-img-479.jpg");
  }
}

.locations_div_container {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: rgba(0, 0, 0, 0.69);
  text-align: center;
}

@media (max-width: 991px) {
  .locations_div_container {
    padding-top: 150px;
    padding-bottom: 75px;
  }
}

@media (max-width: 767px) {
  .locations_div_container {
    padding-top: 100px;
    padding-bottom: 30px;
  }
}

.locations_div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

@media (max-width: 991px) {
  .locations_div {
    width: 90%;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
}

.locations_div__img {
  margin-bottom: 1.5em;
}

.location_div {
  width: 20%;
  padding-right: 10px;
  padding-left: 10px;
  text-align: left;
}

@media (max-width: 991px) {
  .location_div {
    width: 33.3%;
    margin-bottom: 20px;
    padding-right: 0px;
  }
}

@media (max-width: 767px) {
  .location_div {
    width: 50%;
    margin-bottom: 25px;
  }
}

@media (max-width: 479px) {
  .location_div {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
  }
}

.location_headline {
  height: 50px;
  margin-top: 0px;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(252, 117, 105, 0.6);
  font-family: Oswald, sans-serif;
  color: #fc766b;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 500;
  text-transform: uppercase;
}

@media (max-width: 479px) {
  .location_headline {
    height: auto;
  }
}

.address {
  height: 80px;
  margin-bottom: 20px;
  color: #fff;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
  text-transform: uppercase;
}

@media (max-width: 991px) {
  .address {
    font-size: 14px;
  }
}

@media (max-width: 479px) {
  .address {
    height: auto;
  }
}

.map_div {
  width: 100%;
  margin-bottom: 50px;
}

.map {
  height: 300px;
}

.top_phone_div {
  position: static;
  right: 55px;
  bottom: 30px;
  z-index: 500;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  margin-top: 25px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  background-color: transparent;
}

@media (max-width: 991px) {
  .top_phone_div {
    margin-top: 10px;
  }
}

@media (max-width: 767px) {
  .top_phone_div {
    margin-top: 5px;
  }
}

@media (max-width: 479px) {
  .top_phone_div {
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: auto;
    margin-top: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-image: none;
  }
}

.heading {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  font-family: Oswald, sans-serif;
  color: #fff;
  font-size: 30px;
  line-height: 1.125;
  font-weight: 500;
}

@media (max-width: 767px) {
  .heading {
    font-size: 20px;
  }
}

.small_headline {
  margin-top: 0px;
  margin-bottom: 40px;
  font-family: Oswald, sans-serif;
  color: #06357a;
  font-size: 28px;
  line-height: 1.125;
  font-weight: 300;
}

@media (max-width: 991px) {
  .small_headline {
    margin-bottom: 15px;
  }
}

@media (max-width: 767px) {
  .small_headline {
    margin-bottom: 5px;
    font-size: 16px;
  }
}

@media (max-width: 479px) {
  .small_headline {
    margin-bottom: 10px;
    text-align: center;
  }
}

.nav_menu {
  width: 70%;
  text-align: right;
}

@media (max-width: 991px) {
  .nav_menu {
    width: 100%;
    background-color: #1f5074;
  }
}

.call_text {
  margin-right: 10px;
  font-family: Oswald, sans-serif;
  color: #fff;
  font-size: 24px;
  line-height: 1.125;
  font-weight: 300;
}

@media (max-width: 767px) {
  .call_text {
    font-size: 16px;
  }
}

@media (max-width: 479px) {
  .call_text {
    font-size: 14px;
  }
}

.schedule_appointment {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 200px;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fc766b;
}

@media (max-width: 479px) {
  .schedule_appointment {
    height: 160px;
  }
}

.appointment_btn {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 20px 56px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px none #fff;
  font-family: Oswald, sans-serif;
  color: #fff;
  font-size: 34px;
  line-height: 1.125;
  font-weight: 700;
  text-align: left;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}

@media (max-width: 479px) {
  .appointment_btn {
    padding-top: 20px;
    font-size: 24px;
  }
}

.appointment_btn:hover {
  background-color: rgba(0, 0, 0, 0.19);
}

.appointment_icon {
  width: 125px;
  margin-right: 20px;
}

@media (max-width: 479px) {
  .appointment_icon {
    width: 80px;
  }
}

.headline_div {
  width: 100%;
  text-align: left;
}

.testimonials_container_div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  text-align: left;
}

.left_div {
  width: 48%;
  margin-right: 15px;
  float: left;
  text-align: left;
}

.right_div {
  width: 49%;
  margin-left: 15px;
  float: right;
  text-align: left;
}

.button_div {
  width: 100%;
  float: left;
  text-align: center;
}

.callout_div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.callout_img {
  width: 20%;
  margin-right: 15px;
}

.callout_headline {
  margin-top: 5px;
  margin-bottom: 15px;
  font-family: Oswald, sans-serif;
  color: #33658a;
  font-size: 28px;
  font-weight: 300;
}

.testimonials_name {
  margin-top: 20px;
  margin-bottom: 0px;
  padding-bottom: 15px;
  border-bottom: 3px solid rgba(252, 117, 105, 0.44);
  font-family: Oswald, sans-serif;
  color: #33658a;
  font-size: 28px;
  line-height: 1.125;
  font-weight: 500;
}

.txt_field {
  border-style: none;
  background-color: #d6e5f0;
  color: #011e47;
}

.txt_field::-webkit-input-placeholder {
  color: #33658a;
}

.txt_field:-ms-input-placeholder {
  color: #33658a;
}

.txt_field::placeholder {
  color: #33658a;
}

.testimonial_vid_div {
  width: 28%;
  margin-bottom: 30px;
}

.special_offer_sectionn {
  height: auto;
  padding-top: 75px;
  padding-bottom: 75px;
  background-color: #33658a;
}

.offer_link {
  display: block;
  margin-bottom: 40px;
  font-family: Oswald, sans-serif;
  color: #d6e5f0;
  font-size: 18px;
  text-decoration: none;
}

@media (max-width: 767px) {
  .offer_link {
    font-size: 14px;
  }
}

@media (max-width: 479px) {
  .offer_link {
    text-align: center;
  }
}

.offer_link:hover {
  color: #fc766b;
}

.special_offer_headline {
  margin-top: 0px;
  margin-bottom: 10px;
  font-family: Oswald, sans-serif;
  color: #fc766b;
  font-weight: 500;
}

.special_offer_headline2 {
  margin-top: 0px;
  margin-bottom: 15px;
  font-family: Oswald, sans-serif;
  color: #fc766b;
  font-size: 34px;
  font-weight: 300;
}

.special_offer_text {
  margin-bottom: 15px;
  font-family: Oswald, sans-serif;
  color: #fff;
  font-size: 32px;
  line-height: 1.5;
  font-weight: 300;
}

.special_offer_text.small {
  font-size: 20px;
}

.src--loading {
  opacity: 0;
}

.src--loaded {
  animation-name: imageTransition;
  animation-delay: 0;
  animation-duration: 175ms;
  animation-iteration-count: 1;
}

@keyframes imageTransition {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.menu_btn {
  background-color: #33658a;
  color: #fff;
}

.menu_btn:hover {
  background-color: #fc766b;
  color: #fff;
}

.menu_btn.w--open {
  background-color: #33658a;
}
